<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33935816955-dcm7ac6tjr3gusoijnapb6uls1snjssf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33935816955-dcm7ac6tjr3gusoijnapb6uls1snjssf</string>
	<key>API_KEY</key>
	<string>AIzaSyALVuFFD2rQlis5Nf-a40RUBNUq4zpP81w</string>
	<key>GCM_SENDER_ID</key>
	<string>33935816955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MADS4005.Group3</string>
	<key>PROJECT_ID</key>
	<string>iosactivities</string>
	<key>STORAGE_BUCKET</key>
	<string>iosactivities.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33935816955:ios:e299a4b0be83480108d85e</string>
</dict>
</plist>